# Меню не обязательно, если мы хотим быструю загрузку
PROMPT 0
TIMEOUT 10
DEFAULT nano

LABEL nano
  KERNEL /bzImage
  # root=/dev/ram0 говорит ядру, что корень системы — это RAM-диск
  APPEND initrd=/rootfs.cpio.xz root=/dev/ram0 rw
  
